<p>Sandbox</p>

<mat-card class="">
  <mat-card-header>
    <mat-icon mat-card-avatar svgIcon="document-edition"></mat-icon>
    <mat-card-title
      >Ma Declaration
      <button mat-flat-button color="primary">
        <mat-icon svgIcon="question-circle"></mat-icon>
        boutontest
      </button>
    </mat-card-title>
  </mat-card-header>
  <div>
    <button mat-flat-button color="primary">
      <mat-icon svgIcon="question-circle"></mat-icon>
      bouton2
    </button>
  </div>
  <mat-card-content>
    <div class="fdc-card-row">
      Déclaration IPP partie 1 et partie 2 - 2023
      <div class="fdc-card-row-actions">
        <button mat-stroked-button color="primary">
          <mat-icon svgIcon="edit"></mat-icon>
          Remplir manuellement
        </button>
        <button mat-flat-button color="primary">
          <mat-icon svgIcon="question-circle"></mat-icon>
          Remplir pas à pas
        </button>
      </div>
    </div>
    <div class="fdc-card-row">
      Déclaration IPP partie 1 et partie 2 - 2022
      <div class="fdc-card-row-actions">
        <button mat-stroked-button color="primary">
          <mat-icon svgIcon="eye-open"></mat-icon>
          Consulter le PDF
        </button>
        <button mat-flat-button color="tertiary">
          <mat-icon svgIcon="info-circle"></mat-icon>
          Calculer mon montant
        </button>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-flat-button color="tertiary">
      <mat-icon svgIcon="more"></mat-icon>
      Ajouter une déclaration
    </button>
    <button mat-stroked-button color="primary">
      <mat-icon svgIcon="info-circle"></mat-icon>
      En savoir plus
    </button>
  </mat-card-actions>
</mat-card>
