<form [formGroup]="enfantForm" (ngSubmit)="onSubmit()" class="form-container">
  <div class="form-row">
    <fdc-label>Nom</fdc-label>
    <mat-form-field
      ><input matInput formControlName="nomEnfant"
    /></mat-form-field>
  </div>

  <div class="form-row">
    <fdc-label>Prénom</fdc-label>
    <mat-form-field
      ><input matInput formControlName="prenomEnfant"
    /></mat-form-field>
  </div>

  <div class="form-row">
    <fdc-label>Date de naissance</fdc-label>
    <mat-form-field
      ><input matInput type="date" formControlName="dateNaissance"
    /></mat-form-field>
  </div>

  <div class="form-row">
    <fdc-label>Commentaire</fdc-label>
    <mat-form-field
      ><input matInput formControlName="commentaire"
    /></mat-form-field>
  </div>

  <button mat-stroked-button color="tertiary" type="submit">
    Ajouter l’enfant
  </button>
</form>
