.form-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 1000px;
  max-width: 100%;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
}
.form-row {
  display: flex;
  align-items: center;
  gap: 1rem;

  fdc-label {
    width: 240px;
    flex-shrink: 0;
  }

  mat-form-field {
    flex: 1;
  }
}
