<header class="header">
  <div class="header-info">
    <div class="header-logo">
      <img src="/assets/images/logoKidsCamp.png" alt="Logo KidsCamp" />
    </div>
    <div class="header-contacts">
      <div>
        <mat-icon svgIcon="localisation" [color]="'primary'" />
        rue de l'Amusement, 5000 Namur
      </div>
      <div>
        <mat-icon [svgIcon]="'earphone'" [color]="'primary'" />
        +32 81 12 34 56
      </div>
    </div>
  </div>

  <div class="header-buttons">
    <!--
    <button mat-flat-button color="secondary" [routerLink]="['/sandbox']">
      <mat-icon svgIcon="eye-open" />
      Sandbox
    </button>
  -->
    <button mat-flat-button color="primary" [routerLink]="['/welcomePage']">
      <mat-icon svgIcon="home"></mat-icon>
      Home
    </button>
    <button mat-flat-button color="primary" [routerLink]="['/panier']">
      <mat-icon>shopping_cart</mat-icon>
      Panier
    </button>

    <button
      mat-flat-button
      color="primary"
      [matMenuTriggerFor]="menu"
      title="Mon espace"
    >
      Mon espace
      <mat-icon svgIcon="family" />
    </button>
    <mat-menu #menu="matMenu">
      @for (item of menuItems; track item.label) {
      <button mat-menu-item [routerLink]="item.routerLink">
        @if (item.icon) {
        <mat-icon [svgIcon]="item.icon" />
        }
        {{ item.label }}
      </button>
      }
    </mat-menu>

    <button
      *ngIf="isAdmin"
      mat-flat-button
      color="primary"
      [routerLink]="['/administrateur']"
    >
      <mat-icon svgIcon="aura"></mat-icon>
      Administrateur
    </button>
    <!-- Si utilisateur connecté -->
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loginBtn">
      <button mat-flat-button color="primary" (click)="logout()">
        <mat-icon svgIcon="exit"></mat-icon>
        Déconnection
      </button>
    </ng-container>

    <!-- Sinon -->
    <ng-template #loginBtn>
      <button mat-flat-button color="primary" (click)="login()">
        <mat-icon [svgIcon]="'person-big'"></mat-icon>
        S'identifier
      </button>
    </ng-template>
  </div>
</header>
<div *ngIf="auth.user$ | async as user" class="user-info">
  <fdc-welcome-banner
    class="user-info"
    [userName]="user.nickname"
    [helpNumber]="'+32 81 12 34 56'"
  ></fdc-welcome-banner>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>

<footer class="footer">
  <div class="footer-logo">
    <a [routerLink]="['/welcomePage']">
      <img src="/assets/images/logoKidsCamp.png" alt="Logo Kids Camp" />
    </a>
  </div>
  <div class="footer-links">
    <p>Liens Utiles</p>
    <p><a [routerLink]="['/about']">À propos</a></p>
    <p><a [routerLink]="['/contact']">Contact</a></p>
    <p><a [routerLink]="['/faq']">FAQ</a></p>
  </div>
  <div class="footer-social">
    <a href="https://www.facebook.com" target="_blank">
      <mat-icon>facebook </mat-icon>
    </a>
    <a href="https://www.instagram.com" target="_blank">
      <mat-icon [svgIcon]="'instagram'" />
    </a>
    <a href="https://www.youtube.com" target="_blank">
      <mat-icon [svgIcon]="'youtube'" />
    </a>
  </div>
</footer>
