.homeIcon {
  cursor: pointer;
}
.search-container {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Aligne verticalement */
  padding: 10px;
}
.searchPeriod {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.instances-header {
  display: flex; /* Disposition en ligne pour aligner les enfants */
  align-items: center; /* Centrer verticalement les enfants */
  gap: 16px; /* Espacement horizontal entre le texte et l'icône */
  margin-top: 8px;
  margin-bottom: 8px;
}

.instances-title {
  margin: 0;
  color: #0861ac;
}

.moreIcon {
  cursor: pointer; /* Ajoute un curseur 'pointer' à l'icône */
}
.example-element-detail {
  margin-bottom: 32px;
  margin-left: 40px;
  margin-right: 32px;
}
.table-container {
  margin-left: 32px;
  margin-right: 32px;
}
